.bgg {
	background-image: url('../game/sprites/Dumpster.png');
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cat_scaled {
	width:15%;
	margin-top: 20%;
	display: block;
	margin-left: auto;
	margin-right: 970px;
}

#points {
	padding: 0.5%;
	width: 7%;
	background-color: #0693D0;
	color: #132E68;
	font-family: 'Bungee', cursive;
	text-align: center;
	border-radius: 12px;

}

.game-button {
    background-color: #0693D0;
    border: none;
    color:#132E68;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 14%;
	font-family: 'Bungee', cursive;
}

